src/main/resources/uncefact/eCMR_131pD22A_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_131.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:131"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:131"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:131"
    targetNamespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:131"
    elementFormDefault="qualified"
    version="131.D22A">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:131" schemaLocation="eCMR_131pD22A_urn_un_unece_uncefact_data_standard_QualifiedDataType_131.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:131" schemaLocation="eCMR_131pD22A_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_131.xsd"/>
  <xsd:complexType name="DeliveryInstructionsType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Delivery Instructions</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DescriptionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentContextParameterType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Document Context Parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDocumentContextType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Exchanged Document Context</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SpecifiedTransactionID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transaction ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BusinessProcessSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Business Process</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GuidelineSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Guideline</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Exchanged Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssueDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Remarks" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Remark</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssueLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issue Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssuerTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issuer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecipientTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Recipient</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicalCoordinateType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Geographical Coordinate</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AltitudeMeasure" type="udt:MeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Altitude</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LatitudeMeasure" type="udt:MeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Latitude</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LongitudeMeasure" type="udt:MeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Longitude</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LatitudeDirectionIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Latitude Direction Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LongitudeDirectionIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Longitude Direction Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SystemID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">System ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AltimetricSystemID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Altimetric System ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GovernmentRegistrationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Government Registration</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HandlingInstructionsType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Handling Instructions</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DescriptionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableTransportSettingTemperature" type="ram:TransportSettingTemperatureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transport Setting Temperature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocationPartyType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Location Party</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DefinedTradeContact" type="ram:TradeContactType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Defined Contact</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsLabelType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Label</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsLocationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Location</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:LocationFunctionCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="qdt:CountryIDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PhysicalGeographicalCoordinate" type="ram:GeographicalCoordinateType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Geographical Coordinates</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostalTradeAddress" type="ram:TradeAddressType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Postal Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ServicingSpecifiedLocationParty" type="ram:LocationPartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Servicing Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsPackageType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Package</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ItemQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Item Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LevelCode" type="qdt:PackagingLevelCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Level Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:PackageTypeCodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReturnableIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Returnable Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PhysicalLogisticsShippingMarks" type="ram:LogisticsShippingMarksType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Shipping Marks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsSealType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Seal</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConditionCode" type="qdt:SealConditionCodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Condition Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SealingPartyRoleCode" type="qdt:SealingPartyRoleCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Sealing Party Role Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsServiceChargeType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Service Charge</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PaymentArrangementCode" type="qdt:TransportServicePaymentArrangementCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Payment Arrangement Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CategoryCode" type="qdt:TransportServiceCategoryCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Category Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AppliedAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Applied Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayingPartyRoleCode" type="qdt:ChargePayingPartyRoleCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Paying Party Role Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsShippingMarksType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Shipping Marks</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Marking" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Marking Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BarcodeLogisticsLabel" type="ram:LogisticsLabelType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Barcode Label</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportEquipmentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Transport Equipment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CategoryCode" type="qdt:TransportEquipmentCategoryCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Category Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CharacteristicCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Size/Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SealedIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Sealed Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReturnableIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Returnable Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AffixedLogisticsSeal" type="ram:LogisticsSealType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Affixed Seal</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SettingTransportSettingTemperature" type="ram:TransportSettingTemperatureType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Temperature Setting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Additional Particulars Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportMeansType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Transport Means</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TypeCode" type="qdt:TransportMeansTypeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RegistrationTradeCountry" type="ram:TradeCountryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Registration Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportMovementType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Logistics Transport Movement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StageCode" type="qdt:TransportMovementStageCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Stage Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModeCode" type="qdt:TransportModeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Mode Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UsedLogisticsTransportMeans" type="ram:LogisticsTransportMeansType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Used Transport Means</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTransportEvent" type="ram:TransportEventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Specified Transport Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MeasurementType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Measurement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ActualMeasure" type="udt:MeasureType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Actual Measure</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoteType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Note</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Subject" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Subject Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContentCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Content Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Content" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Content Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubjectCode" type="udt:CodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Subject Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Referenced Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Remarks" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Remark</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FormattedIssueDateTime" type="qdt:FormattedDateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Formatted Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EffectiveSpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Effective Period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AttachedSpecifiedBinaryFile" type="ram:SpecifiedBinaryFileType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Attached Binary File</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedLogisticsTransportEquipmentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Referenced Logistics Transport Equipment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoadedPackageQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Loaded Package Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecifiedBinaryFileType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Binary File</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">URI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MIMECode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">MIME Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EncodingCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Encoding Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CharacterSetCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Character Set Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SizeMeasure" type="udt:MeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Size</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecifiedObservationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Specified Observation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RelatedSpecifiedBinaryFile" type="ram:SpecifiedBinaryFileType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Related Binary File</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Applicable Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecifiedPeriodType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Period</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Start Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">End Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainConsignmentItemType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Supply Chain Consignment Item</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SequenceNumeric" type="udt:NumericType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Sequence Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:GoodsTypeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Goods Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InvoiceAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Invoice Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossWeightMeasure" type="qdt:WeightUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Gross Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossVolumeMeasure" type="qdt:VolumeUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Gross Volume</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TariffQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Tariff Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Global ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NatureIdentificationTransportCargo" type="ram:TransportCargoType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Cargo Nature Identification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableTransportDangerousGoods" type="ram:TransportDangerousGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transport Dangerous Goods</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HandlingInstructions" type="ram:HandlingInstructionsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Handling Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OriginTradeCountry" type="ram:TradeCountryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Origin Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DestinationTradeCountry" type="ram:TradeCountryType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Destination Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssociatedReferencedLogisticsTransportEquipment" type="ram:ReferencedLogisticsTransportEquipmentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Associated Transport Equipment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssociatedReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Associated Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportLogisticsPackage" type="ram:LogisticsPackageType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transport Package</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousAdministrativeReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Previous Administrative Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Additional Particulars Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainConsignmentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Supply Chain Consignment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignorAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Consignor Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomsID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Customs ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Carrier Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FreightForwarderAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Freight Forwarder Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TradedParcelID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Traded Parcel ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossWeightMeasure" type="qdt:WeightUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Gross Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossVolumeMeasure" type="qdt:VolumeUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Gross Volume</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoadingLengthMeasure" type="qdt:LinearUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Loading Length</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssociatedInvoiceAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Associated Invoice Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CODAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">COD Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignmentItemQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Consignment Item Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CargoInsuranceInstructionsInformation" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Cargo Insurance Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransshipmentPermissionIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transshipment Permitted Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignorTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Consignor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsigneeTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Consignee</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Carrier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NotifiedTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Notified Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConnectingCarrierTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Connecting Carrier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CarrierAcceptanceLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Carrier Acceptance Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsigneeReceiptLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Consignee Receipt Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssociatedReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Associated Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HandlingInstructions" type="ram:HandlingInstructionsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Handling Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LoadingTransportInstructions" type="ram:TransportInstructionsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Loading Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeliveryTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Consignee Delivery Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExaminationTransportEvent" type="ram:TransportEventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Examination Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PickUpTransportEvent" type="ram:TransportEventType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Pick-Up Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedSupplyChainConsignmentItem" type="ram:SupplyChainConsignmentItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Included Consignment Item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UtilizedLogisticsTransportEquipment" type="ram:LogisticsTransportEquipmentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Used Transport Equipment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MainCarriageLogisticsTransportMovement" type="ram:LogisticsTransportMovementType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Main Carriage Transport Movement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTradeDeliveryTerms" type="ram:TradeDeliveryTermsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Specified Delivery Terms</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableLogisticsServiceCharge" type="ram:LogisticsServiceChargeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Applicable Service Charge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportLogisticsPackage" type="ram:LogisticsPackageType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transport Package</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConsignorProvidedBorderClearanceTransportInstructions" type="ram:TransportInstructionsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Consignor Provided Border Clearance Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DeliveryInstructions" type="ram:DeliveryInstructionsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Delivery Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousAdministrativeReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Previous Administrative Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportServicesBuyerTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transport Services Buyer Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxRegistrationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Tax Registration</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TemperatureSettingInstructionsType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Temperature Setting Instructions</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeAddressType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Address</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostcodeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Postcode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StreetName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Street Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CityName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">City Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="qdt:CountryIDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountrySubDivisionName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Sub-Division Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeContactType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Contact</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PersonName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Person Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TelephoneUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Telephone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MobileTelephoneUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Mobile Telephone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmailURIUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Email Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeCountryType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Country</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="qdt:CountryIDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeDeliveryTermsType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Delivery Terms</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DeliveryTypeCode" type="qdt:DeliveryTermsCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RelevantTradeLocation" type="ram:TradeLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Relevant Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeLocationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Location</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradePartyType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Party</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RoleCode" type="qdt:PartyRoleCodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Role Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LanguageCode" type="qdt:LanguageCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Language Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefinedTradeContact" type="ram:TradeContactType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Defined Contact Details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostalTradeAddress" type="ram:TradeAddressType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Postal Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTaxRegistration" type="ram:TaxRegistrationType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Tax Registration</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedGovernmentRegistration" type="ram:GovernmentRegistrationType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Trader Registration</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportCargoType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Transport Cargo</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identification" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Identification Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatisticalClassificationCode" type="qdt:CargoCommodityCategoryCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Statistical Classification Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportDangerousGoodsType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Transport Dangerous Goods</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UNDGIdentificationCode" type="udt:CodeType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">UNDG ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RegulationCode" type="qdt:DangerousGoodsRegulationCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Regulation Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TechnicalName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Technical Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UpperPartOrangeHazardPlacardID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Upper Part Orange Hazard Placard ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LowerPartOrangeHazardPlacardID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Lower Part Orange Hazard Placard ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PackagingDangerLevelCode" type="qdt:DangerousGoodsPackagingLevelCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Packaging Danger Level Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProperShippingName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Proper Shipping Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransportExpertTradeContact" type="ram:TradeContactType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Transport Expert Contact</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmergencyTradeContact" type="ram:TradeContactType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Emergency Contact</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FlashpointTemperatureMeasurement" type="ram:MeasurementType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Flashpoint Temperature</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportEventType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Transport Event</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Logistics Status Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EstimatedOccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Estimated Occurrence Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ActualOccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Actual Occurrence Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ScheduledOccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Scheduled Occurrence Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTransportInstructions" type="ram:TransportInstructionsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Specified Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OccurrenceLogisticsLocation" type="ram:LogisticsLocationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Occurrence Location</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CertifyingTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Certifying Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Additional Particulars Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RelatedSpecifiedObservation" type="ram:SpecifiedObservationType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Related Observation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportInstructionsType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Transport Instructions</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DescriptionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportSettingTemperatureType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Transport Temperature Setting</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MinimumValueMeasure" type="qdt:TemperatureUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Minimum Value</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaximumValueMeasure" type="qdt:TemperatureUnitMeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Maximum Value</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InformationTemperatureSettingInstructions" type="ram:TemperatureSettingInstructionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Instructions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UniversalCommunicationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Communication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">URI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Complete Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
